body {
  font-family: Cambria, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #fff8e8;
}

.container {
  display: flex;
  height: 96vh;
  justify-content: center;
  align-items: center;
}
.main-div {
  width: 50%;
  background-color: #674636;
  padding: 7vh 0;
  border-radius: 10px;
}

.title,
h2 {
  text-align: center;
  margin-top: 0;
  color: white;
}

#main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#main-form input {
  margin-bottom: 3vh;
  padding: 0 20px;
}

#main-form label {
  margin-bottom: 0.5vh;
}

#main-form button {
  background-color: white;
  border: none;
  border-radius: 7px;
  padding: 7px 40px;
  margin-top: 10px;
}
